---
layout: post-index
---
{% assign latest = site.posts.first %}
<article class="latest">
  <h1><a href="{{ latest.url }}">{{ latest.title }}</a></h1>
  <p class="post-meta"><time datetime="{{ latest.date | date_to_xmlschema }}">{{ latest.date | date: "%-d %B %Y" }}</time>{% if latest.tags.size > 0 %} &nbsp;·&nbsp; {% for tag in latest.tags %}<a href="/tags/#{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}</p>
  <div class="entry-content">
    {{ latest.content }}
  </div>
  <p class="post-meta"><a href="{{ latest.url }}#comments">Comments</a></p>
</article>

<h2 class="list-title">All posts</h2>
{% for post in site.posts %}
  {% unless forloop.first %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture prev_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% assign prev_index = forloop.index0 | minus: 1 %}
  {% assign prev_post = site.posts[prev_index] %}
  {% capture prev_year %}{{ prev_post.date | date: "%Y" }}{% endcapture %}
  {% if forloop.index0 == 1 or this_year != prev_year %}
    {% if forloop.index0 != 1 %}</ul>{% endif %}
    <h3 class="year">{{ this_year }}</h3>
    <ul class="post-list">
  {% endif %}
  <li><time>{{ post.date | date: "%b %-d" }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
  {% endunless %}
{% endfor %}
