<div class="wrap">
  <form class="search" action="https://www.google.com/search" method="get" target="_blank">
    <input type="hidden" name="as_sitesearch" value="isene.org">
    <input type="search" name="q" placeholder="Search isene.org" aria-label="Search isene.org" required>
    <button type="submit">Search</button>
  </form>
  <p><a href="/archives/">Archive</a> &nbsp;·&nbsp; <a href="/tags/">Tags</a> &nbsp;·&nbsp; <a href="/feed.xml">RSS</a> &nbsp;·&nbsp; <a href="mailto:g@isene.com">Mail</a></p>
  <p>{{ site.copyright }} &nbsp;·&nbsp; No rights reserved</p>
</div>
