<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">Blog</a></li>
			<li><a href="/onepagebooks">OnePageBooks</a></li>
			<li><a href="/tags/#Podcast">Podcasts</a></li>
			<li><a href="/freewill">Free will</a></li>
			<li><a href="/hyperlist">HyperList</a></li>
			<li><a href="/contributions">Books & Articles</a></li>
        </ul>
    </nav>
    <nav class="header-nav">
        <ul class="navigation-bar">
			<li><a href="/amar">Amar RPG</a></li>
			<li><a href="/photos">Photos</a></li>
			<li><a href="/art">Art</a></li>
			<li><a href="/music">Music</a></li>
			<li><a href="/hp-41">HP-41</a></li>
			<li><a href="https://github.com/isene">Github</a></li>
			<li><a href="/scientology">Scientology</a></li>
        </ul>
    </nav>
    <nav class="header-nav">
        <ul class="navigation-bar">
			<li><a href="/astro">Astronomy</a></li>
			<li><a href="/coaching">Coaching</a></li>
			<li><a href="/about">About/Contact</a></li>
            <li><a href="/archives/">ARCHIVE</a></li>
            <li><a href="/tags/">TAGS</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        </ul>
    </nav>
</center>
